.article-title h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
}

.article-paragraph1 {
    font-family: 'Overpass Mono', monospace;
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 24px;
    margin: 80px;
}

.signature h3 {
    font-family: 'Overpass Mono', monospace;
    font-weight: bold;
}

body {
    background-color: #FFFEF0;
}